@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1 {
  font-family: 'Noto Serif TC', serif;
  color:#0a7e8c;
  font-size:28px;
}
h2 {
  font-family: 'Vollkorn', serif;
  color:#004953;
  font-size:26px;
}
h3 {
  color: #fba0e3;
  font-family: 'Vollkorn', serif;
  font-size: 23px;
  
}
h4{
  font-family: 'Vollkorn', serif;
  color:#96c8a2;
  text-transform: uppercase;
  font-size:17px;
}
h5 {
  font-family: 'Libre Baskerville', serif;
  color:#ff91af;
  font-size:17px;
  padding: 1px;
}
h6 {
  font-family: 'Trocchi', sans-serif;
  color:#f4bbff;
  font-size:15px;
  padding: 1px;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  
}
p {
  font-size: 14px;
  color: black;
  
}

.a2 {
  color: black;
  border-radius: 25px;
  width: 85%;
  padding: 4px;
  white-space:normal;
  background: #88d8c0;
  font-size: 13px;
  margin: auto;
  box-shadow: 4px 4px 4px #aaa;
}
a {
  color: #fe6f5e;
}

.a3 {
  color: black;
  border-radius: 25px;
  width: 85%;
  padding: 4px;
  white-space:normal;
  background: #008080;
  font-size: 13px;
  margin: auto;
  box-shadow: 4px 4px 4px #aaa;
}

.b1 {
  color: black;
  border-radius: 25px;
  width: 90%;
  padding: 8px;
  white-space:normal;
  background: #f9fafb;
  font-size: 12px;
  margin: auto;
  box-shadow: 4px 4px 4px #aaa;
  line-height: 18px;
}
.topicsList .topic {
  background-color: #f8f8ff;
}
  
.topicsList .topic.current {
  background-color: #b2beb5;
}

.btn-primary, .btn-success, .btn-info {
  background-color: #c0c0c0;
}

.MathJax_Display {
  font-size: 13px;
  padding: 3px;
}

.sp3 {
  font-family: 'Trocchi', sans-serif;
  color:#ff77ff;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}
.sp4 {
  font-family: 'Trocchi', sans-serif;
  color:#008080;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}
.sp5 {
  font-family: 'Trocchi', sans-serif;
  color:#80d4ff;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}
.sp6 {
  font-family: 'Trocchi', sans-serif;
  color:#fe4164;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}
.sp7 {
  font-family: 'Trocchi', sans-serif;
  color:#ffa089;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}
.sp8 {
  font-family: 'Trocchi', sans-serif;
  color:#66ddaa;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}

.sp9 {
  font-family: 'Trocchi', sans-serif;
  color:#324ab2;
  text-decoration: bold;
  font-size:19px;
  padding: 1px;
  text-indent:0;
  margin-left: 0;
  margin: 2px;
}
figure{
  font-family: 'Vollkorn', serif;
}

.figure{
  font-family: 'Vollkorn', serif;
}
